//cores
$blue: #1268AE;
$azul-escuro: #070A14;
$salmao: #FF8B87;
$roxo: #4a029c;
$branco: #fff;
$preto: #000000;
$cinza: #aaa;
$amarelo: #F0B35B;



//fontes

$roboto: 'Roboto', sans-serif;
$fontprincipal: "Radio Canada Big", sans-serif;
$title-header: 'SF New Republic', sans-serif;